body {
    margin: 20px;
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
}
.img-panpetro {
    width: 150px;
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;  
    text-align: center;  
    background-color: #06d6a0;
    border-left: 6px solid #ef476f;
    border-bottom: 6px solid #ef476f;
    border-radius: 8px;

    color: #ef476f;    
}
